---
import Foldud from "../components/Foldud.astro";
import Pas from "../components/Pas.astro";

const data = await fetch("https://hfzwehhezytcplfrjivm.supabase.co/rest/v1/thekorner1", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhmendlaGhlenl0Y3BsZnJqaXZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDEzMzY3MjUsImV4cCI6MjAxNjkxMjcyNX0.62QPSzQ6gHyGM48Bk57sSp6VhZpjcycVkZu9aY1QPro",
  },
}).then((res) => res.json());
const boxColors = ["#FAC2C9", "#D4C2FA", "#F9FAC2", "#D4FAC2", "#C2DCFA"];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <Foldud color={boxColors[0]} title="Price" text="At TheKorner, we reserve the right for any errors in our stated prices. Furthermore, we reserve the right to change the prices without prior consent. Reservations are made for out-of-stock items" />
    <Foldud color={boxColors[1]} title="Payment" text="" />
    <Foldud color={boxColors[2]} title="Deliver" text="" />
    <Foldud color={boxColors[3]} title="Return Policy" text="" />
    <Foldud color={boxColors[4]} title="Refund" text="" />
    <Foldud color={boxColors[0]} title="Right of withdrawal" text="" />
    <Foldud color={boxColors[1]} title="Returning" text="" />
    <Foldud color={boxColors[3]} title="Condition of the item upon return" text="" />
    <Foldud color={boxColors[4]} title="" />

    {
      data.map((show) => {
        return <Pas data={show} />;
      })
    }
  </body>
</html>
