---
import "../global_css/style.css";
import Foldud from "../components/Foldud.astro";
import Textbox from "../components/Textbox.astro";
import BigBox from "../components/BigBox.astro";
import Nav from "../components/Nav.astro";
const boxColors = ["#FAC2C9", "#D4C2FA", "#F9FAC2", "#D4FAC2", "#C2DCFA"];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Nav />

    <BigBox boxtitle="Terms & conditions" boxtext="Home/Terms & conditions" />

    <Textbox title="General information">
      <br />
      <p>
        TheKorner
        <br />
        <br />
         CVR nr.: DK41033525"
        <br />
        <br />
        <a href="mailto: kontakt@the-korner.com">Kontakt@the-korner.com</a>
        <br />
      </p>
    </Textbox>

    <Foldud color={boxColors[0]} title="Price"><p>At TheKorner, we reserve the right for any errors in our stated prices. Furthermore, we reserve the right to change the prices without prior consent. Reservations are made for out-of-stock items</p></Foldud>
    <Foldud color={boxColors[1]} title="Payment">
      <p>The Korner accepts payment with VISA-Dankort, VISA, VISA Electron, Mastercard. The payment will only be debited from your account when the item is dispatched. All amounts are in DKK. Danish kroner and incl. VAT. Reservations are made for price errors and sold-out/discontinued items.</p>
    </Foldud>

    <Foldud color={boxColors[2]} title="Deliver">
      <p>The Korner aims to ship orders within 3 working days after the purchase has been completed. We ship to all of Europe, UK & US. Orders will be delivered to the delivery address specified in the order or to the selected delivery location. Your goods are sent with Post Nord, DAO or GLS.</p>
      <br />
      <p>NOTE: If there is no room at the delivery point, the package will be moved to the nearest delivery point, which you will be notified of. If problems arise, contact customer service. Orders are delivered every weekday. Your item will be delivered 2-4 business days after dispatch. Special delivery conditions apply to certain goods. The conditions will appear specifically prior to the purchase of these goods.</p>
    </Foldud>

    <Foldud color={boxColors[3]} title="Return Policy">
      <p>There is a 2-year right to complain in accordance with the Purchase Act. Our right of complaint applies to defects in material and/or manufacturing. You can get the item exchanged, the money returned or the price reduced, depending on the specific situation. The complaint does not apply to errors or damage caused by incorrect handling of the product/service. You must contact us in a “reasonable time” after you have discovered the defect/error. The Korner will cover return costs to a reasonable extent. <br /> <br /> For returns, complaints and use of the right of withdrawal, send to:</p>
      <p>The Korner <br /> Tea:licious Café <br /> Studiestræde 21 <br /> 1455 København K <br /> Shipments are not accepted with cash on delivery.</p>
    </Foldud>
    <Foldud color={boxColors[4]} title="Refund">
      <p>If it is a refund, please include bank details in the form of registration number and account number so that the agreed amount can be transferred. This information can be disclosed without risk per email or other electronic form, as it is not sensitive information and will only be used for our fulfillment of the refund.</p>
    </Foldud>
    <Foldud color={boxColors[0]} title="Right of withdrawal">
      <p>There is a 14-day full right of return on goods purchased in our webshop. <br /> The period is counted from that day;</p>
      <br />
      <ul>
        <li>Where you receive the order.</li>
        <br />
        <li>Takes physical possession of the last product, in the case of an agreement for several different products, ordered in one order, but delivered individually or in several batches.</li>
        <br />
        <li>Gets physical possession of the last lot or last part when it comes to an agreement for the delivery of goods consisting of several lots/parts.</li>
        <br />
        <li>The first item in physical possession in the case of regular delivery of items over a specified period.</li>
      </ul>
      <br />
      <p>
        Return costs are your own responsibility. <br />
         Cancellations must be reported to us no later than 14 days after the purchase, and you must return the shipment no later than 14 days after the cancellation. The notice must be given by email at kontakt@the-korner.com. In the message, you must make it clear that you wish to use your right of withdrawal. If you want to send the item back to us, you can use our return portal here <br />
         You cannot regret it by simply refusing to receive the item, without at the same time giving clear notice of this.
        <br />Goods excluded from the right of withdrawal
        <br />
         The following product types are not included in the right of withdrawal:
      </p>
      <br />
      <ul>
        <li>Products from our Recycle Corner</li>
        <br />
        <li>Goods that have been manufactured to the consumer’s specifications or have been given a distinct personal touch.</li>
        <br />
        <li>Sealed goods which, for reasons of health protection or hygiene, are not suitable for return and where the seal has been broken after delivery.</li>
        <br />
        <li>Goods which, due to their nature, are inextricably mixed with others upon delivery.</li>
        <br />
        <li>Items where the seal is broken.</li>
        <br />
        <li>Performed non-financial services, if the provision of the service has begun with the consumer’s prior express consent and acknowledgment that the right of withdrawal ends when the service has been fully performed.</li>
        <br />
        <li>Delivery of digital content, which is not delivered on a physical medium, if the execution has begun with the consumer’s prior express consent and recognition thereof, that he thereby loses his right of withdrawal.</li>
        <br />
        <li>Goods that deteriorate or become obsolete quickly.</li>
      </ul>
      <br />
    </Foldud>
    <Foldud color={boxColors[1]} title="Returning">
      <p>You must send your order back without undue delay and no later than 14 days after you have exercised your right of cancellation. You must bear the direct costs in connection with the return. When returning, you are responsible for the item being properly packed. You bear the risk for the item from the time of delivery of the item until we have received it back. We do not receive packages sent by cash on delivery.</p>
      <br />
      <p>You’re also welcome to come down to our physical shop in Copenhagen and discuss is with the employee present.</p>
    </Foldud>
    <Foldud color={boxColors[2]} title="Condition of the item upon return">
      <p>You are only liable for any deterioration in the value of the goods which is due to handling other than what is necessary to determine the nature, characteristics and way of functioning of the goods. In other words, you can try the product as if you were trying it on in a physical store.</p>
      <p>If the item has been tried on in addition to what is described above, it is considered used. Which means that if you cancel the purchase, you will only get a part or none of the purchase amount back, depending on the commercial value of the item at the time of receipt – of the return. In order to receive the full purchase amount back, you must test the product without actually using it.</p>
    </Foldud>
    <Foldud color={boxColors[3]} title="Appeal options – overview and links">
      <p>
        If you have a complaint about a product bought in our Webshop, you can send a complaint to:
        <br />
         The Danish Competition and Consumer Authority’s Center for Complaint Resolution
        <br />
         Carl Jacobsens Vej 35
        <br /> 2500 Valby
        <br /> Link: <a href="www.forbrug.dk"> www.forbrug.dk</a>
      </p>
      <p>
        If you are a consumer residing in another EU country, you can register your complaint in the EU Commission’s online complaint platform.
        <br />
         Platformen can be found here: <a href="http://ec.europa.eu/consumers/odr/
">http://ec.europa.eu/consumers/odr/</a>
        <br />
         If you submit a complaint here, you must provide our e-mail address
        <a href="mailto:  kontakt@the-korner.com"> kontakt@the-korner.com</a>
      </p>
    </Foldud>
  </body>
</html>

<style>
  ul {
    list-style-type: "\✱ ";
    font-family: "chivo-light";
  }

  a {
    font-size: 1.3em;
    color: #63469e;
  }
</style>
