---
import "../../global_css/style.css";
import Footer from "../../components/Footerft.astro";
import Nav from "../../components/Nav.astro";
export async function getStaticPaths() {
  const data = await fetch("https://hfzwehhezytcplfrjivm.supabase.co/rest/v1/thekorner1", {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhmendlaGhlenl0Y3BsZnJqaXZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDEzMzY3MjUsImV4cCI6MjAxNjkxMjcyNX0.62QPSzQ6gHyGM48Bk57sSp6VhZpjcycVkZu9aY1QPro",
    },
  }).then((response) => response.json());

  return data.map((show) => {
    return {
      params: { slug: show.slug },
      props: { myData: show },
    };
  });
}
const { myData } = Astro.props;
console.log(myData);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{myData.slug}</title>
  </head>

  <body>
    <Nav />
    <div class="body">
      <div class="grid">
        <div class="imggrid">
          <div class="imggradient">
            <div class="gridcircle1">
              <h1>{myData.type}</h1>
              <div class="gridcircle">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
              </div>
            </div>
            <img class="img1" src={myData.img1} alt="#" />
          </div>
          <div class="img2flex">
            <div class="img2gradient">
              <img class="img2" src={myData.img1} alt="#" />
            </div>
            <div class="img2gradient">
              <img class="img2" src={myData.img2} alt="#" />
            </div>
          </div>
        </div>
        <div class="informa">
          <h4 class="overskrift2">{myData.name}</h4>
          <p class="hvem">Af: {myData.name}</p>

          <h4 class="price">{myData.price} KR</h4>

          <hr />
          <div class="plusminus">
            <div class="container">
              <button class="minus" aria-label="Decrease by one" disabled>
                <img src="../public/img/minimize-sign.png" alt="minus" />
              </button>
              <div class="number dim">0</div>
              <button class="plus" aria-label="Increase by one">
                <img src="../public/img/add.png" alt="add" />
              </button>
            </div>
            <div class="add">
              <h4 class="addh4">ADD TO CART</h4>
            </div>
          </div>

          <div class="greengrid">
            <div class="circlegreen"></div>
            <p class="green">Free shipping in Denmark on orders over 499 kr</p>
          </div>
          <div class="greengrid">
            <div class="circlered"></div>
            <p class="red">We ship to EU, UK OG US from Denmark</p>
          </div>
          <div class="greengrid">
            <div class="circleblue"></div>
            <p class="blue">Categories: {myData.categories}</p>
          </div>
          <hr />
          <div class="catflex">
            <p class="categories">DESCRIPTION:</p>
            <p>{myData.bio}</p>
          </div>
          <div class="catflex">
            <p class="categories">ADDITIONAL INFOMATION:</p>
            <p>{myData.ai}</p>
          </div>
        </div>
      </div>
      <div class="relatedx">
        <h4 class="related">RELATED PRODUCTS</h4>
        <div class="boksflex">
          <div>
            <div class="boks">
              <div class="gridcircle3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
              </div>
              <img src="../../../public/img/cloudearrings.jpeg" class="stickersbox" />
            </div>
            <h4 class="boksprice">50 kr</h4>
            <p class="bokstext">CLOUD EARRINGS</p>
          </div>
          <div>
            <div class="boks5">
              <div class="gridcircle3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
              </div><img src="../../../public/img/keychain.jpeg" class="stickersbox" />
            </div>
            <h4 class="boksprice">80 kr</h4>
            <p class="bokstext">KEYCHAIN</p>
          </div>
          <div>
            <div class="boks6">
              <div class="gridcircle3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
              </div><img src="../../../public/img/photocardholder.jpeg" class="stickersbox" />
            </div>
            <h4 class="boksprice">100 kr</h4>
            <p class="bokstext">PHOTOCARDHOLDER</p>
          </div>
          <div>
            <div class="boks7">
              <div class="gridcircle3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
              </div><img src="../../../public/img/stickers.jpeg" class="stickersbox" />
            </div>
            <h4 class="boksprice">40 kr</h4>
            <p class="bokstext">STICKERS</p>
          </div>
        </div>

        <h4 class="recently">RECENTLY VIEWED PRODUCTS</h4>
        <div class="boksflex">
          <div>
            <div class="boks">
              <div class="gridcircle3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
              </div>
              <img src="../../../public/img/blob.jpeg" class="stickersbox" />
            </div>
            <h4 class="boksprice">40 kr</h4>
            <p class="bokstext">KEYCHAIN</p>
          </div>
          <div>
            <div class="boks5">
              <div class="gridcircle3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
              </div><img src="../../../public/img/hairclip.jpeg" class="stickersbox" />
            </div>
            <h4 class="boksprice">50 kr</h4>
            <p class="bokstext">HAIRCLIP</p>
          </div>
          <div>
            <div class="boks6">
              <div class="gridcircle3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
              </div><img src="../../../public/img/sparkle.jpeg" class="stickersbox" />
            </div>
            <h4 class="boksprice">30 kr</h4>
            <p class="bokstext">RAINBOW STICKERS</p>
          </div>
          <div>
            <div class="boks7">
              <div class="gridcircle3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
              </div><img src="../../../public/img/stickers.jpeg" class="stickersbox" />
            </div>
            <h4 class="boksprice">30 kr</h4>
            <p class="bokstext">STICKERS</p>
          </div>
        </div>
      </div>
    </div>
    <Footer />
  </body>
</html>
<style>
  .body {
    margin-top: 100px;
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  .imggrid {
    margin-left: 10px;
  }
  h1 {
    margin: 15px;
    font-size: 250%;
  }
  .circle1 {
    height: 25px;
    width: 25px;
    background-color: #b1fef5;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .circle2 {
    height: 25px;
    width: 25px;
    background-color: #c8ffa7;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .circle3 {
    height: 25px;
    width: 25px;
    background-color: #ff6f9c;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
  }
  .gridcircle {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    margin-left: 180px;
  }
  .gridcircle1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .imggradient {
    background: linear-gradient(295deg, rgba(249, 250, 194, 1) 10%, rgba(212, 250, 194, 1) 17%, rgba(212, 194, 250, 1) 35%, rgba(250, 194, 201, 1) 46%, rgba(250, 194, 201, 1) 52%, rgba(227, 205, 221, 1) 66%, rgba(195, 222, 247, 1) 79%, rgba(212, 250, 194, 1) 90%);
    padding: 10px;
    margin: 10px;
    border-radius: 50px;
    border: solid 3px rgb(197, 17, 125);
  }

  .img1 {
    height: 600px;
    width: auto;
    margin: 30px;
    margin-top: 15px;
    border-radius: 50px;
    border: solid 4px rgb(197, 17, 125);
  }

  .img2gradient {
    margin: 15px;
    border-radius: 50px;
    background: linear-gradient(295deg, rgba(249, 250, 194, 1) 10%, rgba(212, 250, 194, 1) 17%, rgba(212, 194, 250, 1) 35%, rgba(250, 194, 201, 1) 46%, rgba(250, 194, 201, 1) 52%, rgba(227, 205, 221, 1) 66%, rgba(195, 222, 247, 1) 79%, rgba(212, 250, 194, 1) 90%);
    border: solid 4px rgb(197, 17, 125);
    padding: 10px;
    margin-left: 10px;
  }
  .img2 {
    height: 250px;
    width: auto;

    margin: 10px;
    border-radius: 50px;
    border: solid 4px rgb(197, 17, 125);
  }
  .img2flex {
    display: flex;
    margin-left: 30px;
  }
  .informa {
    margin: 50px;
    margin-top: 20px;
  }
  .overskrift2 {
    color: black;
    font-weight: 300;
    font-size: 320%;
    margin-bottom: 10px;
  }
  .hvem {
    color: rgb(197, 17, 125);
    margin-bottom: 50px;
    font-size: 150%;
  }
  hr {
    border: 2px dashed #c5117d65;
    margin-bottom: 60px;
    margin-top: 20px;
  }
  .price {
    margin-bottom: 20px;
    color: rgb(197, 17, 125);
    font-size: 400%;
  }

  .green {
    margin-bottom: 30px;

    font-size: 150%;
  }
  .red {
    margin-bottom: 30px;
    font-size: 150%;
  }
  .blue {
    margin-bottom: 30px;
    font-size: 150%;
  }
  .categories {
    margin-bottom: 40px;
    color: rgb(197, 17, 125);
    margin-right: 10px;
  }

  .circlegreen {
    height: 35px;
    width: 35px;
    background-color: #c8ffa7;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
    margin-right: 30px;
  }
  .circlered {
    height: 35px;
    width: 35px;
    background-color: #ff6f9c;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
    margin-right: 30px;
  }
  .circleblue {
    height: 35px;
    width: 35px;
    background-color: #b1fef5;
    border-radius: 100px;
    border: solid rgb(197, 17, 125);
    margin-right: 30px;
  }
  .greengrid {
    display: flex;
  }
  .catflex {
    display: flex;
    font-size: 130%;
    margin-bottom: 20px;
  }
  .relatedx {
    display: grid;
    grid-template-columns: 1fr;
  }
  .related {
    font-size: 350%;
    margin-top: 50px;
    margin-bottom: 80px;
    margin-left: 10px;
  }

  .boks {
    width: 310px;
    height: 350px;
    background-color: #c2dcfa;
    border-radius: 50px;
    margin: 20px;
    border: solid 5px rgb(197, 17, 125);
  }
  .boks5 {
    width: 310px;
    height: 350px;
    background-color: #fac2c9;
    border-radius: 50px;
    margin: 20px;
    border: solid 5px rgb(197, 17, 125);
  }
  .boks6 {
    width: 310px;
    height: 350px;
    background-color: #d4fac2;
    border-radius: 50px;
    margin: 20px;
    border: solid 5px rgb(197, 17, 125);
  }
  .boks7 {
    width: 310px;
    height: 350px;
    background-color: #f9fac2;
    border-radius: 50px;
    margin: 20px;
    border: solid 5px rgb(197, 17, 125);
  }
  .gridcircle3 {
    display: flex;
    gap: 5px;
    margin-top: 15px;
    margin-left: 190px;
  }
  .stickersbox {
    height: 280px;
    width: auto;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border: solid 4px rgb(197, 17, 125);
  }
  .boksflex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 10px;
  }
  .boksprice {
    text-align: center;
    font-size: 200%;
    margin-bottom: 20px;
  }

  .bokstext {
    text-align: center;
    font-size: 150%;
    margin-bottom: 100px;
  }
  .recently {
    font-size: 350%;
    text-align: right;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  :root {
    --width-container: 10px;
  }
  .container {
    display: flex;
    background-color: white;
    border: solid 5px #63469e;
    border-radius: 50px;
    width: 150px;
    height: 75px;
    margin-right: 30px;
  }

  button {
    width: 30px;
    height: auto;

    background-color: transparent;
    outline-style: none;
    border-style: none;
  }
  button:hover {
    cursor: pointer;
  }
  .minus {
    margin-left: 20px;
  }
  .plus {
    margin-right: 20px;
  }
  .number.dim {
    margin: 20px;
    color: #63469e;
  }
  .number {
    margin: 20px;
    color: #63469e;
  }
  .add {
    height: 75px;
    width: 350px;
    background-color: #ad94e0;
    border: solid 5px #63469e;

    border-radius: 50px;
  }
  .plusminus {
    display: flex;
    margin-bottom: 40px;
  }
  .addh4 {
    color: white;
    text-align: center;
    margin-top: 16px;
    font-size: 180%;
  }

  @media only screen and (min-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .imggrid {
      margin-left: 100px;
    }
    h1 {
      margin: 15px;
      font-size: 250%;
      margin-left: 30px;
    }
    .circle1 {
      height: 25px;
      width: 25px;
      background-color: #b1fef5;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
    }
    .circle2 {
      height: 25px;
      width: 25px;
      background-color: #c8ffa7;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
    }
    .circle3 {
      height: 25px;
      width: 25px;
      background-color: #ff6f9c;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
    }
    .gridcircle {
      display: flex;
      gap: 5px;
      margin-top: 20px;
      margin-left: 165px;
    }
    .gridcircle1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .imggradient {
      background: linear-gradient(295deg, rgba(249, 250, 194, 1) 10%, rgba(212, 250, 194, 1) 17%, rgba(212, 194, 250, 1) 35%, rgba(250, 194, 201, 1) 46%, rgba(250, 194, 201, 1) 52%, rgba(227, 205, 221, 1) 66%, rgba(195, 222, 247, 1) 79%, rgba(212, 250, 194, 1) 90%);
      padding: 10px;
      margin: 10px;
      border-radius: 50px;
      border: solid 4px rgb(197, 17, 125);
    }

    .img1 {
      height: 500px;
      width: auto;
      margin: 30px;
      margin-top: 15px;
      border-radius: 50px;
      border: solid 4px rgb(197, 17, 125);
    }

    .img2gradient {
      margin: 15px;
      border-radius: 50px;
      background: linear-gradient(295deg, rgba(249, 250, 194, 1) 10%, rgba(212, 250, 194, 1) 17%, rgba(212, 194, 250, 1) 35%, rgba(250, 194, 201, 1) 46%, rgba(250, 194, 201, 1) 52%, rgba(227, 205, 221, 1) 66%, rgba(195, 222, 247, 1) 79%, rgba(212, 250, 194, 1) 90%);
      border: solid 4px rgb(197, 17, 125);
      padding: 5px;
      margin-left: 20px;
    }
    .img2 {
      height: 180px;
      width: auto;

      margin: 10px;
      border-radius: 50px;
      border: solid 4px rgb(197, 17, 125);
    }
    .img2flex {
      display: flex;
      margin-left: 30px;
    }
    .informa {
      margin: 80px;
      margin-top: 20px;
      margin-bottom: 0;
    }
    .overskrift2 {
      color: black;
      font-weight: 300;
      font-size: 280%;
      margin-bottom: 10px;
    }
    .hvem {
      color: rgb(197, 17, 125);
      margin-bottom: 50px;
    }
    hr {
      border: 2px dashed #c5117d65;
      margin-bottom: 50px;
      margin-top: 20px;
    }
    .price {
      margin-bottom: 50px;
      color: rgb(197, 17, 125);
      font-size: 300%;
    }

    .green {
      margin-bottom: 30px;
    }
    .red {
      margin-bottom: 30px;
    }
    .blue {
      margin-bottom: 30px;
    }
    .categories {
      margin-bottom: 40px;
      color: rgb(197, 17, 125);
      margin-right: 10px;
    }

    .circlegreen {
      height: 25px;
      width: 25px;
      background-color: #c8ffa7;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
      margin-right: 30px;
    }
    .circlered {
      height: 25px;
      width: 25px;
      background-color: #ff6f9c;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
      margin-right: 30px;
    }
    .circleblue {
      height: 25px;
      width: 25px;
      background-color: #b1fef5;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
      margin-right: 30px;
    }
    .greengrid {
      display: flex;
    }
    .catflex {
      display: flex;
    }
    .related {
      font-size: 450%;
      margin-top: 80px;
      margin-bottom: 50px;
      margin-left: 50px;
    }
    .boks {
      width: 310px;
      height: 350px;
      background-color: #c2dcfa;
      border-radius: 50px;
      margin: 20px;
      border: solid 5px rgb(197, 17, 125);
    }
    .boks5 {
      width: 310px;
      height: 350px;
      background-color: #fac2c9;
      border-radius: 50px;
      margin: 20px;
      border: solid 5px rgb(197, 17, 125);
    }
    .boks6 {
      width: 310px;
      height: 350px;
      background-color: #d4fac2;
      border-radius: 50px;
      margin: 20px;
      border: solid 5px rgb(197, 17, 125);
    }
    .boks7 {
      width: 310px;
      height: 350px;
      background-color: #f9fac2;
      border-radius: 50px;
      margin: 20px;
      border: solid 5px rgb(197, 17, 125);
    }
    .stickersbox {
      height: 270px;
      width: auto;
      border-radius: 50px;
      margin-top: 10px;
      margin-left: 15px;
      border: solid 4px rgb(197, 17, 125);
    }
    .gridcircle3 {
      display: flex;
      gap: 5px;
      margin-top: 20px;
      margin-left: 180px;
    }
    .boksflex {
      display: flex;
      margin-left: 20px;
    }
    .recently {
      font-size: 450%;
      text-align: right;
      margin-top: 80px;
      margin-bottom: 50px;
      margin-right: 50px;
    }

    :root {
      --width-container: 10px;
    }
    .container {
      display: flex;
      background-color: white;
      border: solid 5px #63469e;
      border-radius: 50px;
      width: 150px;
      height: 75px;
      margin-right: 30px;
    }

    button {
      width: 30px;
      height: auto;

      background-color: transparent;
      outline-style: none;
      border-style: none;
    }
    button:hover {
      cursor: pointer;
    }
    .minus {
      margin-left: 20px;
    }
    .plus {
      margin-right: 20px;
    }
    .number.dim {
      margin: 20px;
      color: #63469e;
    }
    .number {
      margin: 20px;
      color: #63469e;
    }
    .add {
      height: 75px;
      width: 350px;
      background-color: #ad94e0;
      border: solid 5px #63469e;

      border-radius: 50px;
    }
    .plusminus {
      display: flex;
      margin-bottom: 40px;
    }
    .addh4 {
      color: white;
      text-align: center;
      margin-top: 16px;
      font-size: 180%;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .grid {
      display: grid;
      grid-template-columns: 1fr;
    }
    .imggrid {
      margin-left: 10px;
    }
    h1 {
      margin: 15px;
    }
    .circle1 {
      height: 25px;
      width: 25px;
      background-color: #b1fef5;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
    }
    .circle2 {
      height: 25px;
      width: 25px;
      background-color: #c8ffa7;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
    }
    .circle3 {
      height: 25px;
      width: 25px;
      background-color: #ff6f9c;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
    }
    .gridcircle {
      display: flex;
      gap: 5px;
      margin-top: 25px;
      margin-left: 250px;
    }
    .gridcircle1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .imggradient {
      background: linear-gradient(295deg, rgba(249, 250, 194, 1) 10%, rgba(212, 250, 194, 1) 17%, rgba(212, 194, 250, 1) 35%, rgba(250, 194, 201, 1) 46%, rgba(250, 194, 201, 1) 52%, rgba(227, 205, 221, 1) 66%, rgba(195, 222, 247, 1) 79%, rgba(212, 250, 194, 1) 90%);
      padding: 10px;
      margin: 10px;
      border-radius: 50px;
      border: solid 3px rgb(197, 17, 125);
    }

    .img1 {
      height: 700px;
      width: auto;
      margin: 30px;
      margin-top: 15px;
      border-radius: 50px;
      border: solid 4px rgb(197, 17, 125);
    }

    .img2gradient {
      margin: 15px;
      border-radius: 50px;
      background: linear-gradient(295deg, rgba(249, 250, 194, 1) 10%, rgba(212, 250, 194, 1) 17%, rgba(212, 194, 250, 1) 35%, rgba(250, 194, 201, 1) 46%, rgba(250, 194, 201, 1) 52%, rgba(227, 205, 221, 1) 66%, rgba(195, 222, 247, 1) 79%, rgba(212, 250, 194, 1) 90%);
      border: solid 4px rgb(197, 17, 125);
      padding: 10px;
      margin-left: 10px;
    }
    .img2 {
      height: 250px;
      width: auto;

      margin: 10px;
      border-radius: 50px;
      border: solid 4px rgb(197, 17, 125);
    }
    .img2flex {
      display: flex;
      margin-left: 30px;
    }
    .informa {
      margin: 50px;
      margin-top: 20px;
    }
    .overskrift2 {
      color: black;
      font-weight: 300;
      font-size: 320%;
      margin-bottom: 10px;
    }
    .hvem {
      color: rgb(197, 17, 125);
      margin-bottom: 50px;
      font-size: 150%;
    }
    hr {
      border: 2px dashed #c5117d65;
      margin-bottom: 60px;
      margin-top: 20px;
    }
    .price {
      margin-bottom: 20px;
      color: rgb(197, 17, 125);
      font-size: 400%;
    }

    .green {
      margin-bottom: 30px;

      font-size: 150%;
    }
    .red {
      margin-bottom: 30px;
      font-size: 150%;
    }
    .blue {
      margin-bottom: 30px;
      font-size: 150%;
    }
    .categories {
      margin-bottom: 40px;
      color: rgb(197, 17, 125);
      margin-right: 10px;
    }

    .circlegreen {
      height: 35px;
      width: 35px;
      background-color: #c8ffa7;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
      margin-right: 30px;
    }
    .circlered {
      height: 35px;
      width: 35px;
      background-color: #ff6f9c;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
      margin-right: 30px;
    }
    .circleblue {
      height: 35px;
      width: 35px;
      background-color: #b1fef5;
      border-radius: 100px;
      border: solid rgb(197, 17, 125);
      margin-right: 30px;
    }
    .greengrid {
      display: flex;
    }
    .catflex {
      display: flex;
      font-size: 130%;
      margin-bottom: 20px;
    }
    .relatedx {
      display: grid;
      grid-template-columns: 1fr;
    }
    .related {
      font-size: 350%;
      margin-top: 50px;
      margin-bottom: 80px;
      margin-left: 30px;
    }

    .boks {
      width: 310px;
      height: 350px;
      background-color: #c2dcfa;
      border-radius: 50px;
      margin: 20px;
      border: solid 5px rgb(197, 17, 125);
    }
    .stickersbox {
      height: 270px;
      width: auto;
      border-radius: 50px;
      margin-top: 10px;
      margin-left: 15px;
      border: solid 4px rgb(197, 17, 125);
    }
    .gridcircle3 {
      display: flex;
      gap: 5px;
      margin-top: 20px;
      margin-left: 180px;
    }
    .boksflex {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin-left: 30px;
    }
    .boksprice {
      text-align: center;
      font-size: 200%;
      margin-bottom: 20px;
      margin-right: 50px;
    }

    .bokstext {
      text-align: center;
      font-size: 130%;
      margin-bottom: 100px;
      margin-right: 50px;
    }
    .recently {
      font-size: 350%;
      text-align: right;
      margin-top: 100px;
      margin-bottom: 80px;
      margin-right: 50px;
    }

    :root {
      --width-container: 10px;
    }
    .container {
      display: flex;
      background-color: white;
      border: solid 5px #63469e;
      border-radius: 50px;
      width: 150px;
      height: 75px;
      margin-right: 30px;
    }

    button {
      width: 30px;
      height: auto;

      background-color: transparent;
      outline-style: none;
      border-style: none;
    }
    button:hover {
      cursor: pointer;
    }
    .minus {
      margin-left: 20px;
    }
    .plus {
      margin-right: 20px;
    }
    .number.dim {
      margin: 20px;
      color: #63469e;
    }
    .number {
      margin: 20px;
      color: #63469e;
    }
    .add {
      height: 75px;
      width: 350px;
      background-color: #ad94e0;
      border: solid 5px #63469e;

      border-radius: 50px;
    }
    .plusminus {
      display: flex;
      margin-bottom: 40px;
    }
    .addh4 {
      color: white;
      text-align: center;
      margin-top: 16px;
      font-size: 180%;
    }
  }
</style>

<script>
  const buttons = document.querySelectorAll("button");
  const minValue = 0;
  const maxValue = 10;

  buttons.forEach((button) => {
    button.addEventListener("click", (event) => {
      // 1. Get the clicked element
      const element = event.currentTarget;
      // 2. Get the parent
      const parent = element.parentNode;
      // 3. Get the number (within the parent)
      const numberContainer = parent.querySelector(".number");
      const number = parseFloat(numberContainer.textContent);
      // 4. Get the minus and plus buttons
      const increment = parent.querySelector(".plus");
      const decrement = parent.querySelector(".minus");
      // 5. Change the number based on click (either plus or minus)
      const newNumber = element.classList.contains("plus") ? number + 1 : number - 1;
      numberContainer.textContent = newNumber;
      console.log(newNumber);
      // 6. Disable and enable buttons based on number value (and undim number)
      if (newNumber === minValue) {
        decrement.disabled = true;
        numberContainer.classList.add("dim");
        // Make sure the button won't get stuck in active state (Safari)
        element.blur();
      } else if (newNumber > minValue && newNumber < maxValue) {
        decrement.disabled = false;
        increment.disabled = false;
        numberContainer.classList.remove("dim");
      } else if (newNumber === maxValue) {
        increment.disabled = true;
        numberContainer.textContent = `${newNumber}+`;
        element.blur();
      }
    });
  });
</script>
